:root {
    font-size: 24px;
}

body {
    background: #1488cc;
    background: linear-gradient(to left, #283593, #1976d2);
    height: 100vh;
    font-family: "Josefin Sans", sans-serif;
}

input {
    border: 1px solid black;
    outline: none;
    background-color: transparent;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

input.not-valid {
    border: 1px solid red;
}


/* Background circles start */

.circle {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(#006db3, #29b6f6);
}

.circles {
    position: absolute;
    height: 270px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-1 {
    height: 180px;
    width: 180px;
    top: -50px;
    left: -60px;
}

.circle-2 {
    height: 200px;
    width: 200px;
    bottom: -90px;
    right: -90px;
    opacity: 0.8;
}


/* Background circles end */

.card-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    position: relative;
    height: 270px;
    width: 450px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.logo,
.cvc,
.chip img,
.number,
.email,
.from,
.to,
.ring {
    position: absolute;
    /* All items inside card should have absolute position */
}

.logo {
    top: 35px;
    right: 0px;
    width: 80px;
    color: rgba(255, 255, 255, 0.8);
}

.cvc {
    top: 35px;
    left: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
}

.cvc input {
    max-width: 50px;
    margin-left: 10px;
}

.chip img {
    top: 120px;
    left: 40px;
    width: 50px;
    height: auto;
    opacity: 0.8;
}

.number,
.email,
.from,
.to {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.number {
    width: 175px;
    left: 40px;
    bottom: 65px;
    font-family: "Nunito", sans-serif;
}

.email {
    font-size: 0.5rem;
    left: 40px;
    bottom: 35px;
}

.from {
    max-width: 50px;
    font-size: 0.5rem;
    bottom: 35px;
    right: 110px;
}

.to {
    max-width: 37px;
    font-size: 0.5rem;
    bottom: 35px;
    right: 40px;
}


/* The two rings on the card background */

.ring {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: transparent;
    border: 50px solid rgba(255, 255, 255, 0.1);
    bottom: -250px;
    right: -250px;
    box-sizing: border-box;
}

.ring::after {
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: transparent;
    border: 30px solid rgba(255, 255, 255, 0.1);
    bottom: -80px;
    right: -110px;
    box-sizing: border-box;
}

.btn-send {
    padding: 15px 10px;
    width: 200px;
    margin-top: 30px;
    align-self: center;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-send:hover {
    border: 1px solid rgb(143, 133, 133);
    color: rgb(143, 133, 133);
}

.btn-send:disabled {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: unset;
}