.project {
    padding-top: var(--section-offset);

    &__title {
        margin-bottom: 12px;
        color: var(--dark-color);
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 300px;
        gap: 30px;

        @include tablet{
         grid-auto-rows: auto;   
        }

        .imageset__first {
            grid-column: 6 span;

            @include tablet {
                grid-column: 12 span;
            }

            @include small-tablet{
                grid-column: 10 span;
                min-width: 278px;;
            }
        }

        .imageset__second {
            grid-column: 6 span;
            grid-row: 2;
        }

        .imageset {
            display: flex;

            @include tablet {
                justify-content: space-between;
            }

            @include small-tablet{
                flex-direction: column;
            }

            &__item {
                position: relative;
                max-width: 194px;

                @include tablet {
                    max-width: none;

                    :not(:last-child) {
                        max-width: 218px;
                    }
                }
                

                img {
                    @include small-desktop {
                        height: auto;
                    }
                }
            }

            &__item--second {
                position: relative;
                max-width: 100%;
            }

            &__item:not(:last-child) {
                margin-right: 30px;
            }

            @include small-tablet{
                .imageset__item{
                    margin-right: 0;

                    &:not(:last-child){
                        margin-bottom: 25px;
                    }
                }
            }

            &__hashtag {
                position: absolute;
                top: 7px;
                right: 10px;
                padding: 6px 14px;
                font-family: var(--font-family-main);
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                color: var(--color-white);
                background-color: var(--dark-color);

                @include small-tablet{
                    right: initial;
                    left: 180px;
                }
            }

            &__descr {
                margin: 0;
                margin-top: 18px;
                margin-bottom: 13px;
                font-family: var(--font-family-main);
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                color: var(--dark-color);

                @include big-desktop {
                    margin-top: 5px;
                    margin-bottom: 0;
                }

                @include small-tablet{
                    margin-bottom: 10px;
                    max-width: 278px;
                }
            }

            &__date {
                display: flex;
                align-items: center;
            }

            &__day {
                margin-left: 5px;
                font-family: var(--font-family-main);
                font-size: 12px;
                font-weight: 400;
                line-height: 22px;
                color: var(--grey-color);
            }

        }
    }

    .first {
        grid-column: 6 span;
        background-image: url(../images/first-img.jpg);
        background-repeat: no-repeat;

        @include tablet{
            grid-column: 8 span;
            grid-row: 2;
        }

        @include small-tablet{
            grid-column: 10 span;
            height: 422px;
            max-width: 278px;
            background-image: url(../images/first-img-mobile.jpg);
        }
    }

    .second {
        grid-column: 1 / 6 span;
        grid-row: 2;
        background-image: url(../images/second-img.jpg);
        background-repeat: no-repeat;

        @include tablet{
         grid-column: 7 span;
         grid-row: 3;   
        }

        @include small-tablet{
            grid-column: 10 span;
            grid-row: 5;
            height: 422px;
            max-width: 278px;
            background-image: url(../images/second-img-mobile.jpg);
        }
    }

    .block {

        position: relative;
        background-repeat: no-repeat;
        background-size: cover;

        &__hashtag {
            position: absolute;
            top: 7px;
            right: 7px;
            padding: 6px 14px;
            font-family: var(--font-family-main);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            color: var(--color-white);
            background-color: var(--dark-color);
        }

        &__content {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-top: 22px;
            padding-left: 30px;
            padding-bottom: 30px;

            @include small-tablet{
                padding-top: 65%;
            }
        }

        &__day {
            margin-left: 5px;
            font-family: var(--font-family-main);
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            color: var(--color-white);
        }

        &__title {
            margin: 0;
            margin-top: 2px;
            margin-bottom: 6px;
            max-width: 240px;
            font-family: var(--font-family-second);
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            color: var(--color-white);
        }

        &__descr {
            margin: 0;
            margin-bottom: auto;
            max-width: 292px;
            font-family: var(--font-family-main);
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: var(--color-white);
        }
    }

    &__btn {
        align-self: flex-start;
        padding: 15.5px 22px;
        border: 3px solid var(--orange-color);
        font-family: var(--font-family-main);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: var(--color-white);
        transition: all 0.3s ease-in-out;
    }

    &__btn:focus {
        background-color: var(--orange-color);
    }

    &__btn:hover {
        background-color: var(--brown-color);
    }

    &__btn:active {
        background-color: var(--active-color);
        border-color: var(--active-color);
    }

    .third {
        position: relative;
        grid-column: 7 / 10;
        grid-row: 2;

        @include tablet{
            grid-column: 9 / 13;
        }

        @include small-tablet{
            grid-column: 10 span;
            grid-row: 3;
        }

        img {
            @include small-desktop {
                height: 160px;
            }

            @include small-tablet{
                height: auto;
            }
        }

        &__hashtag {
            position: absolute;
            top: 7px;
            right: 7px;
            padding: 6px 14px;
            font-family: var(--font-family-main);
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            color: var(--color-white);
            background-color: var(--dark-color);

            @include small-tablet{
              right: initial;
              left: 185px;
            }
        }

        &__descr {
            margin: 0;
            margin: 18px 0 10px 0;
            font-family: var(--font-family-main);
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: var(--dark-color);

            @include big-desktop {
                margin-top: 5px;
                margin-bottom: 0;
            }

            @include small-tablet{
                max-width: 278px;
            }
        }
    }

    .fourth {
        position: relative;
        grid-column: 10 / 13;
        grid-row: 2;

        @include tablet{
            grid-column: 1 / 5 span;
            grid-row: 3;
        }

        @include small-tablet{
            grid-column: 10 span;
            grid-row: 4;
        }

        img {
            @include small-desktop {
                height: 160px;
            }

            @include small-tablet{
                height: auto;
            }
        }

        &__hashtag {
            position: absolute;
            top: 7px;
            right: 7px;
            padding: 6px 14px;
            font-family: var(--font-family-main);
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            color: var(--color-white);
            background-color: var(--dark-color);

            @include small-tablet{
                right: initial;
                left: 185px;
              }
        }

        &__descr {
            margin: 0;
            margin: 18px 0 10px 0;
            font-family: var(--font-family-main);
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: var(--dark-color);

            @include big-desktop {
                margin-top: 5px;
                margin-bottom: 0;
            }

            @include small-tablet{
                max-width: 278px;
            }
        }
    }
}

.project img{
    width: 100%;

    @include small-tablet{
        width: auto;
    }
}