@font-face {
    font-family: Ermil;
    src: url(../assets/fonts/Ermilovbold.woff2);
}

.body{
    font-family: Ermil;
    &__container{
        padding:0 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .btn{
        margin-top: 30px;
        padding: 15px 7px;
        max-width: 300px;
    }
}
